.input-range__label {
  color: $input-range-label-color;
  font-family: $input-range-font-family;
  font-size: $input-range-label-font-size;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--mid,
.input-range__label--max,
.input-range__label--err-min,
.input-range__label--err-max {
  bottom: $input-range-label-position-bottom;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--mid {
  left: 50%;
}

.input-range__label--value {
  position: absolute;
  top: $input-range-label-value-position-top;
}

.input-range__label--err-max span,
.input-range__label--err-min span {
  left: 0;
  padding: 4px 1px 4px 7px;
  width: 34px;
  background-color: #0299cc;
  text-align: left;
  display: block;
  color: white;
}

.input-range__label--err-max span {
  left: 0;
}

.input-range__label--err-min span {
  left: -100%;
}
